*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: 'poppins';
}
:root{
    --body-header: #f7f7f8;
    --body-bg: #f7f7f8;
    --body-color: #555;
    --link-color: #222;   
    --back-bg:gainsboro;
}
.dark-mode:root{
    --body-bg: black;
    --body-color: #fff;
    --link-color: #fff;  
    --back-bg:#2E2E35;
    --body-header: #18181B;
}
h1{
    color: var(--link-color);
}
body{
    overflow-x: hidden !important;
    background-color: var(--body-bg);

}
button{
    cursor: pointer;
}
header{
    align-items: center;
    background-color: var(--body-header);
    margin-top: -8px;
    width: 100%;
    height: 60px;
    justify-content: center;
    padding: 20px;
    z-index: 100;
    position: fixed;
    top: 0;
}
nav.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -6px;
    gap: 2rem;
    z-index: 100;
}
.left{
    align-items: center;
    display: flex;
    gap: 2rem;
}
.center{
    width: 400px;
    align-items: center;
    display: flex;
}
.right{
    align-items: center;
    display: flex;
    gap: 1rem;
}
.logo-header{
    align-items: center;
    display: flex;
    color: #88d613;
    font-size: 30px;
}
.left h1{
    font-size: 15px;
    text-transform: capitalize;
    font-weight: 100;
}
.left button{
    background: transparent;
    border: 0;
}
.left button{
    color: var(--link-color);
}
.center .search-input{
    border: 1px solid gray;
    height: 40px;
    width: 100%;
    text-indent: 20px;
    background: transparent;
    color: var(--link-color);
}
.center button{
    height: 40px;
    width: 40px;
    color: var(--link-color);
    font-size: 20px;
    background:#B5B4B5;
}
.right .btn-entrar{
    background: gainsboro;
    color: black;
    width: 60px;
    height: 30px;
    border-radius: 5px;
}
.right .btn-cadastra{
    background:#88d613;
    color: black;
    width: 80px;
    height: 30px;
    border-radius: 5px;
}
.right span{
    color: var(--link-color);
    cursor: pointer;
    font-size: 18px;
}
.x-dark{
    background: transparent;
    color: var(--link-color);
    display: none;
    cursor: pointer;
    font-size: 18px;
}

header a{
    text-decoration: none;
}
.nav-left{
    text-align: left;
    width: 220px;
    overflow: hidden;
    /*height: 7%;*/
    height: 100%;
    position: fixed;
    padding: 10px;
    left: 0;
    top: 50px;
    z-index: 100;
    background: var(--body-header);
    animation: nav-open .5s ease-in forwards;
}
@keyframes nav-open{
    0%{
        opacity: 0;
        height: 0%;
    }
    100%{
        opacity: 1;
        height: 100%;
    }
}
.titulo-nav{
    display: flex;
    align-items: center;
    cursor: pointer;
    background: var(--body-header);
}
.titulo-nav h1{
    font-size: 13px;
    text-transform: uppercase;
}
.titulo-nav button{
    text-align: right;
    background: transparent;
    border: 0;
    right: 20px;
    font-size: 20px;
    position: absolute;
}
.nav-column{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.nav-column button{
    background:transparent;
    border: 0;
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 20px;
    
}
.nav-column img{
    border-radius: 20px;
    width: 38px;
    background-size: cover;
    height: 39px;
}
.canal-titulo{
    margin-left: -10px;
    align-items: center;
    gap:normal;
    text-align: left;
    flex-direction: column;
}
.canal-titulo h1{
    font-size: 12px;
}
.canal-titulo span{
    font-size: 10px;
    color: var(--link-color);
}
.canal-users {
    align-items: center;
    display: flex;
    right: 10px;
    position: absolute;
}
.canal-users span{
    font-size: 14px;
    position: relative;
    color: var(--link-color);
}
.canal-users span::after{
    content: ' ';
    width: 10px;
    height: 10px;
    left: -14px;
    top: 4px;
    border-radius: 20px;
    background: red;
    position: absolute;
}
#canais1{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#canais1 span{
    font-size: 9px;
    
}
#canais2{
    display: none;
    flex-direction: column;
    align-items: center;
}
#canais2 span{
    font-size: 9px;
}
.user-op{
    background: var(--body-header);
    right: 0;
    z-index: 1000;
    position: fixed;
    padding: 1rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    top: 50px;
    height: 100px;
    text-align: left;
    width: 200px;
    display: none;
}
.op-container{
    display: flex;
    flex-direction:column;
    gap: 1rem;
    text-align: left;
}
.op-container button{
    background: transparent;
    gap: 2rem;
    text-align: left;
    font-size: 15px;
    margin-left: -60px;
    color: var(--link-color);
}
.op-container button:nth-child(3){
    position: relative;
    padding: .4rem;
}
.op-container button:nth-child(3)::after{
    content: " ";
    position: absolute;
    background: rgba(220, 220, 220, 0.336);
    width: 230%;
    height: 2px;
    top: 0;
    left: -10px;
}
.op-container span{
    text-align: right;
    margin: auto;
    justify-content: right;
    right: 10px;
    position: absolute;
}

section.container{
    margin-top: 20px;
    height: 100%;
    padding: 15px;
    display: grid;
    gap: 10px;
    grid-template-areas:
    'tela-live tela-live chat'
    'perfil perfil none';
    align-items: center;
}
.container div{
    margin-top:10px;
}
#tela-live{
    grid-area: tela-live;
    align-items: center;
    width: 100%;
    display: flex;
}
.tela{
    align-items: center;
    width: 100%;
    max-width: 700px;
    position: relative;
}
.tela img{
    width: 100%;
    max-height: 400px;
    position: relative;
}

.tela-details{
    position: absolute;
}
.tela span{
    position: absolute;
    color: white;
    margin-left: -70px;
    background: red;
    padding: .2rem;
    font-size: 14px;
    margin-top: 10px;
    border-radius: 5px;
}
.live-details {  
    display: flex;
    bottom: 0;
    gap: 3rem;
    width: 100%;
    padding: 1rem;
    position: absolute;
    margin-top: -200px;
   }
.live-details button{
    background: transparent;
    display: flex;
    color: white;
}
.live-details div{  
    display: flex;
    gap: 4rem;
    margin: auto;
    color: white;
    margin-right:20px;
}
#chat{
    grid-area: chat;
    align-items: center;
    width: 100%;
    height:90%;
    background-color: var(--body-bg);
    justify-content: center;
   position: sticky;
    right: 0;
    top: 50px;
}
.chat-titulo{
    display:flex;
    align-items: center;
    gap: 2rem;
    justify-content: center;
}
.chat-titulo h1{
    font-size: 14px;
}
.chat-titulo button{
    background: transparent;
}
.chat-live{
    display: flex;
    flex-direction: column;
}
.chat-p{
    overflow-x: auto;
    overflow: auto;
    max-height: 200px;
}
.chat-p::-webkit-scrollbar{
    width: 5px;
    height: 10px;
}
.chat-p::-webkit-scrollbar-thumb{
    background: #88d613;
    width: 11px;
    height: 50px;
    padding: 0;
}
.chat-p::-webkit-scrollbar-thumb{
    padding: 1rem;
}
.chat-p a{
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 1rem;
    padding: 15px;

}
.chat-p h1{
    color: #88d613;
    font-size: 12px;
    white-space: nowrap;
}
.chat-p p{
    font-size: 11px;
    color: gray;
    max-width: 500px;
}
.chat-mensagem{
    display: flex;
    align-items: center;
    padding: 10px;
}
#mensagem{
    width: 100%;
    padding: 10px;
    background:transparent;
    border: 1px solid black;
    text-indent: 10px;
    text-transform: capitalize;
    position: relative;
    border-radius: 8px;
    border: 1px solid #555;
}
.mensagem-enviar{
    position: absolute;
    right: 11px;
    border-radius: 0px 8px 8px 0px;
    background: var(--back-bg);
    color: var(--link-color);
    width: 30px;
    height: 40px;
}
.emoji-chat{
    background: transparent;
    color: var(--link-color);
    position: absolute;
    right: 65px;
}
.chat-presente{
    display: flex;
    align-items: center;
    margin-left: 10px;
    gap: 2rem;
}
.chat-presente a{
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: .4rem;
    color: var(--link-color);
}
.chat-presente h1{
    font-size: 10px;
    color: var(--link-color);
}
.chat-presente span{
    font-size: 25px;
    color: gold;
    align-items: center;
}
.chat-presente div{
    align-items: center;
    margin-top: -0px;
}
.chat-presente p{
    font-size: 10px;
}
.chat-presente p .fa-brands{
    color: red;
}
#perfil{
    grid-area: perfil;
    align-items: center;
    width: 100%;
    margin-top: -30px;
}
.perfil-details{
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;
}
.perfil-details img{
    width: 50px;
    height: 50px;
    border: 2px solid  red;
    border-radius: 50%;
    padding: .2rem;
}
.user{
    display: flex;
    align-items: center;
    width: 100%;
}
.user h1{
    font-size: 18px;
}
.user-titulo{
    display: flex;
    align-items: center;
    gap: 2rem;
    margin: auto;
    margin-right: 0px;  
}
.user-titulo button:nth-child(1){
    background: #88d613;
    padding: .4rem .8rem;
    border-radius: 8px;
    white-space: nowrap;
}
.user-titulo button:nth-child(2){
    background: gainsboro;
    padding: .4rem .8rem;
    border-radius: 8px;
    white-space: nowrap;
}
.user-descri{
    display: flex;
    flex-direction: column;
}
.user-descri p{
    font-size: 15px;
    font-weight: bold;
    margin-top: 10px;
    color: var(--link-color);
}
.user-descri div{
    margin-top: 5px;
    display: flex;
    gap: 2rem;
    align-items: center;
}
.user-descri a{
    color: #75be07f1;
    text-decoration: none;
}
.user-descri a:hover{
    text-decoration: underline;
}
.user-descri button{
    background: gainsboro;
    padding: .1rem;
    border-radius: 8px;
    font-size: 13px;
}
.user-contagem{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 2rem;
}
.user-contagem span:nth-child(1){
    color: brown;
}
.user-contagem span:nth-child(2){
    color: gray;
}
.perfil-img {
    display: flex;
    flex-direction: column;
}
.perfil-img span{
    position: absolute;
    color: white;
    background: red;
    padding: .2rem;
    font-size: 14px;
    margin-top: 45px;
    margin-left: -2px;
    border-radius: 5px;
}
.titulo-descricao{
    font-size: 17px;
}
.descricao{
    width: 100%;
    background-color: var(--body-bg);
    padding: 1rem;
}
.descricao span{
    display: flex;
    gap: .4rem;
    color: black;
    font-weight: bold;
}
.descricao p{
    color: #9e9e9e;
    max-width:650px;
}
.descricao div{
    display: flex;
    align-items: center;
    gap: 2rem;
}
.descricao a{
    text-decoration: none;
    text-transform: capitalize;
    font-weight: bold;
    color: var(--link-color);
    position: relative;
}
.descricao a:hover::after{
    content: "ir";
    position: absolute; 
    right:-20px;
    color: #88d613;
}
.descricao span{
    color: var(--link-color);
}
.live-sub{
    display: flex;
    align-items: center;
    width: 650px;
    gap: 2rem;
    overflow: hidden;
    flex-wrap: wrap;
}
.live-sub img{
    width: 300px;
    height: 400px;
    position: relative;
    border: 3px solid #88d613;
}
.live-sub a{
    gap: 2rem;
    text-decoration: none;
}
.live-sub h1{
    position: absolute;
    margin-top: -60px;
    margin-left:50px;
    color: #88d613;
    padding: .1rem 2rem;
    background: white;
    border-radius:5px;
    text-transform: uppercase;
}
.live-sub a:nth-child(2){
    margin-top: 200px;
}

.bits img{
    height: 300px;
}
.bits h1{
    position: absolute;
    margin-top: -50px;
    margin-left:80px;
    color: #88d613;
    padding: .1rem 2rem;
    background: black;
    border-radius:5px;
    font-size: 14px;
    text-transform: capitalize;
}
@media(max-width:900px){
    section.container{
        margin-top: 20px;
        height: 100%;
        padding: 15px;
        display: grid;
        gap: 10px;
        grid-template-areas:
        'tela-live tela-live tela-live'
        'chat chat chat'
        'perfil perfil perfil';
        align-items: center;
    }
    #tela-live{
        grid-area: tela-live;
        align-items: center;
        width: 100%;
        display: flex;
        
    }
    .tela{
        align-items: center;
        width: 100%;
        max-width: 900px;
        position: relative;
    }
    .tela img{
        width: 100%;
        max-height: 400px;
        position: relative;
    }
    #chat{
        grid-area: chat;
        align-items: center;
        width: 100%;
        height:100%;
        justify-content: center;
        position:inherit;
        
    }
    .mensagem-enviar{
     right: 26px;  
    }
    #perfil{
        grid-area: perfil;
        align-items: center;
        width: 100%;
        margin-top: -30px;
    }
    .live-sub{
        display: flex;
        align-items: center;
        width: 100%;
        gap: 2rem;
    }
    .live-sub img{
        width: 100%;
        height: 300px;
        position: relative;
        border: 3px solid #88d613;
    }
    .user{
        display: flex;
        align-items: center;
        width: 100%;
            }
    .user h1{
        font-size: 13px;
    }
    .user-titulo{
        display: flex;
        align-items: center;
        gap: 2rem;
        margin: auto;
        margin-right: 0px;  
    }
    .user-titulo button:nth-child(1){
        background: #88d613;
        padding: .4rem .8rem;
        border-radius: 8px;
        white-space: nowrap;
        font-size: 10px;
    }
    .user-titulo button:nth-child(2){
        background: gainsboro;
        padding: .4rem .8rem;
        border-radius: 8px;
        white-space: nowrap;
        font-size: 10px;
    }
    .user-descri p{
        font-size: 12px;
        font-weight: bold;
        margin-top: 10px;
    }
    .user-descri div{
        margin-top: 5px;
        display: flex;
        gap: 2rem;
        align-items: center;
    }
    .user-descri a{
        color: #75be07f1;
        text-decoration: none;
        font-size: 12px;
    }
    .user-descri a:hover{
        text-decoration: underline;
    }
    .user-descri button{
        background: gainsboro;
        padding: .1rem;
        border-radius: 8px;
        font-size: 10px;
    }
    .user-contagem{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: right;
        gap: 2rem;
    }
    .user-contagem span:nth-child(1){
        color: brown;
        font-size: 12px;
    }
    .user-contagem span:nth-child(2){
        color: gray;
        font-size: 12px;
    }
    .perfil-img {
        display: flex;
        flex-direction: column;
    }
    .perfil-img span{
        position: absolute;
        color: white;
        background: red;
        padding: .2rem;
        font-size: 14px;
        margin-top: 45px;
        margin-left: -2px;
        border-radius: 5px;
    }
    .titulo-descricao{
        font-size: 14px;
    }
    .descricao{
        width: 100%;
        padding: 1rem;
    }
    .descricao span{
        display: flex;
        gap: .4rem;

        font-weight: bold;
    }
    .descricao p{

        max-width:650px;
        font-size: 12px;
    }
    .bits h1{
        position: absolute;
        margin-top: -60px;
        margin-left:80px;
        color: #88d613;
        padding: .1rem 2rem;
        background: black;
        border-radius:5px;
        text-transform: capitalize;
        font-size: 20px;
    }
    .live-sub a:nth-child(2){
        margin-top:0px;
    }    
}

@media (max-width:600px){
    .user-descri div{
        display: none;
    }
    .perfil-details img{
        width: 35px;
        height: 35px;
        border: 2px solid  red;
        border-radius: 50%;
        padding: .2rem;
    }
    .perfil-img span{
        position: absolute;
        color: white;
        background: red;
        padding: .2rem;
        font-size: 10px;
        margin-top:33px;
        margin-left: -2px;
        border-radius: 5px;
    }
    .user-titulo button:nth-child(1){
        background: #88d613;
        padding: .4rem .8rem;
        border-radius: 8px;
        white-space: nowrap;
        font-size: 8px;
    }
    .user-titulo button:nth-child(2){
        background: gainsboro;
        padding: .4rem .8rem;
        border-radius: 8px;
        white-space: nowrap;
        font-size: 8px;
    }
}

@media(max-width:700px){
    .center .search-input{
        border: 1px solid black;
        height: 40px;
        width: 100%;
        text-indent: 20px;
        display: none;
    }
    .center button{
        background: transparent;
        font-size: 16px;
    }
    .left h1{
        display: none;
    }
    .right .btn-entrar{
        background: gainsboro;
        color: black;
        width:50px;
        height: 30px;
        font-size: 12px;
        border-radius: 5px;
    }
    .right .btn-cadastra{
        background:#88d613;
        color: black;
        width: 70px;
        height: 30px;
        font-size: 12px;
        border-radius: 5px;
    }
    
}

