*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: 'poppins';
}

:root{
    --body-header: #f7f7f8;
    --body-bg: #f7f7f8;
    --body-color: #555;
    --link-color: #222;   
    --back-bg:gainsboro;
}
.dark-mode:root{
    --body-bg: black;
    --body-color: #fff;
    --link-color: #fff;  
    --back-bg:#2E2E35;
    --body-header: #18181B;
}
h1{
    color: var(--link-color);
}
body{
    overflow-x: hidden !important;
    background-color: var(--body-bg);
}
button{
    cursor: pointer;
}
header{
    align-items: center;
    background-color: var(--body-header);
    margin-top: -8px;
    width: 100%;
    height: 60px;
    justify-content: center;
    padding: 20px;
    z-index: 100;
    position: fixed;
    top: 0;
}
nav.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -6px;
    gap: 2rem;
    z-index: 100;
}
.left{
    align-items: center;
    display: flex;
    gap: 2rem;
}
.center{
    width: 400px;
    align-items: center;
    display: flex;
}
.right{
    align-items: center;
    display: flex;
    gap: 1rem;
}
.logo-header{
    align-items: center;
    display: flex;
    color: #88d613;
    font-size: 30px;
}
.left h1{
    font-size: 15px;
    text-transform: capitalize;
    font-weight: 100;
}
.left button{
    background: transparent;
    border: 0;
}
.left button{
    color: var(--link-color);
}
.center .search-input{
    border: 1px solid gray;
    height: 40px;
    width: 100%;
    text-indent: 20px;
    background: transparent;
    color: var(--link-color);
}
.center button{
    height: 40px;
    width: 40px;
    color: var(--link-color);
    font-size: 20px;
    background:#B5B4B5;
}
.right .btn-entrar{
    background: gainsboro;
    color: black;
    width: 60px;
    height: 30px;
    border-radius: 5px;
}
.right .btn-cadastra{
    background:#88d613;
    color: black;
    width: 80px;
    height: 30px;
    border-radius: 5px;
}
.right span{
    color: var(--link-color);
    cursor: pointer;
    font-size: 18px;
}
.x-dark{
    background: transparent;
    color: var(--link-color);
    display: none;
    cursor: pointer;
    font-size: 18px;
}

.nav-left{
    text-align: left;
    width: 220px;
    overflow: hidden;
    /*height: 7%;*/
    height: 100%;
    position: fixed;
    padding: 10px;
    left: 0;
    top: 50px;
    z-index: 100;
    background: var(--body-header);
    animation: nav-open .5s ease-in forwards;
}
@keyframes nav-open{
    0%{
        opacity: 0;
        height: 0%;
    }
    100%{
        opacity: 1;
        height: 100%;
    }
}
.titulo-nav{
    display: flex;
    align-items: center;
    cursor: pointer;
    background: var(--body-header);
}
.titulo-nav h1{
    font-size: 13px;
    text-transform: uppercase;
}
.titulo-nav button{
    text-align: right;
    background: transparent;
    border: 0;
    right: 20px;
    font-size: 20px;
    position: absolute;
}
.nav-column{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.nav-column button{
    background:transparent;
    border: 0;
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 20px;
    
}
.nav-column img{
    border-radius: 20px;
    width: 38px;
    background-size: cover;
    height: 39px;
}
.canal-titulo{
    margin-left: -10px;
    align-items: center;
    gap:normal;
    text-align: left;
    flex-direction: column;
}
.canal-titulo h1{
    font-size: 12px;
}
.canal-titulo span{
    font-size: 10px;
    color: var(--link-color);
}
.canal-users {
    align-items: center;
    display: flex;
    right: 10px;
    position: absolute;
}
.canal-users span{
    font-size: 14px;
    position: relative;
    color: var(--link-color);
}
.canal-users span::after{
    content: ' ';
    width: 10px;
    height: 10px;
    left: -14px;
    top: 4px;
    border-radius: 20px;
    background: red;
    position: absolute;
}
#canais1{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#canais1 span{
    font-size: 9px;
    
}
#canais2{
    display: none;
    flex-direction: column;
    align-items: center;
}
#canais2 span{
    font-size: 9px;
}
.user-op{
    background: var(--body-bg);
    right: 0;
    z-index: 1000;
    position: fixed;
    padding: 1rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    top: 50px;
    height: 140px;
    text-align: left;
    width: 200px;
    display: none;
}
.op-container{
    display: flex;
    flex-direction:column;
    gap: 1rem;
    text-align: left;
}
.op-container button{
    background: transparent;
    gap: 2rem;
    text-align: left;
    font-size: 15px;
    margin-left: -60px;
    color: var(--link-color);
}
.op-container button:nth-child(3){
    position: relative;
    padding: .4rem;
}
.op-container button:nth-child(3)::after{
    content: " ";
    position: absolute;
    background: rgba(220, 220, 220, 0.336);
    width: 230%;
    height: 2px;
    top: 0;
    left: -10px;
}
.op-container span{
    text-align: right;
    margin: auto;
    justify-content: right;
    right: 10px;
    position: absolute;
}
.op-container a{
    text-decoration: none;
    color: black;
}
.op-container a:hover{
    color: #88d613;
}
.conteudo{
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    width: 900px;
    height: 50vh;
    margin-top: 100px;
    max-width: 800px;
    width: 96%;
    display: none;
}
.conteudo .slider{
    overflow: hidden;
    position: relative;  
    top: 0;
    left: 0;
    width: 500%;
    height: 100%;
    float: left;
   animation: anima 10s linear infinite;
}
.conteudo .slider .slide{
    position: relative;
    width: 20%;
    height: 100%;
    float: left;
}
.conteudo .slider .slide .captura{
    position: absolute;
    bottom: 60px;
    left: 60px;
    right: 60px;
    padding: 10px;
    background: rgba(0,0,0,0.5);
    box-sizing: border-box;
    transition: 0.5s;
    display: flex;
}
.conteudo .slider .slide .captura h1{ 
    margin: 0;
    padding: 0;
    color: white;
    font-size: 18px;
    transition: 0.5s;
    background: transparent;
    border: 0;

}
.conteudo .slider .slide .captura .slide-canal{ 
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.conteudo .slider .slide .captura span{ 
    color: white;
    right: 20px;
    position: absolute;
    display: flex;
}
.conteudo span::after{
    content: " ";
    position: absolute;
    background: red;
    width: 8px;
    height: 8px;
    top: 5px;
    left:-10px;
    border-radius: 50%;
}
.conteudo button{
    align-items: center;
    cursor: pointer;
    background: transparent;
    border: 0;
    display: flex;
    gap: 1rem;
}
.conteudo .slider .slide.slide1{
    background:url(https://static-cdn.jtvnw.net/cf_vods/d1m7jfoe9zdc1j/4c6485c8287addb8517c_loud_coringa_16352110905_9065595562//thumb/thumb1647975536-276x155.jpg);
    background-size: cover;
    background-position: center;
}
.conteudo .slider .slide.slide2{
    background:url(https://adnews.com.br/wp-content/uploads/2023/03/iFood-e-CazeTV-apresentam-o-primeiro-merchan-usando-o-ChatGPT.jpg);
    background-size: cover;
    background-position: center;
}
.conteudo .slider .slide.slide3{
    background:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTBxK6dbmH4BZNoWJ2yVGSQv2ua8LSkgLsZ468JljU4Kg&s);
    background-size: cover;
    background-position: center;
}
@keyframes anima{
    0%{
        left: 0;
    }
    20%{
        left: 0;
    }
    25%{
        left: -100%;
    }
    45%{
        left: -100%;
    }
    50%{
        left: -200%;
    }
    70%{
        left: -200%;
    }
    /*75%{
        left: -300%;
    }
    95%{
        left: -300%;
    }
    100%{
        left: -400%;
    }*/
}



.carrossel{
    margin-top: 100px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width:100%;
}

.slider{
    position: relative;
    width: 100%;
}
.slider::after{
    content: " ";
    background: url('https://media0.giphy.com/media/RfnQuPrBYOzpdh8yrh/giphy.gif') ;
    width: 200px;
    height: 200px;
    position: absolute;
    z-index: -100;
    width: 90px;
    height: 350px;
    margin-top: 0px;
    opacity: 70%;
    margin-left: 270px;
}
.sliders{
    position: absolute;
    width: 100%;   
    opacity: 0;
    transition: linear .2s;
    background-size: cover;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.on{
    opacity: 1;
}
.slider-1 img{
    width: 650px;
    position: relative;
    height: 350px;
}
.slider-1{
    position: relative;
}
.slider-1::after{
    content: "ao vivo";
    position: absolute;
    color: white;
    background: red;
    font-family: 'poppins';
    text-transform: capitalize;
    padding: .2rem;
    margin-top: 10px;
    margin-left: -300px;
    border-radius: 8px;
}
#next{
    font-size: 30px;
    background: transparent;
    cursor: pointer;
    margin-left: 600px;
    margin-top: 300px;
    background: white;
    z-index: 1;
    padding: .2rem;
    border-radius: 20px;
    position: absolute;
}
.titulo-stramers{
    display: flex;
    align-items: center;
    margin-top: 400px;
    position: absolute;
    padding: 15px; 
    font-size: 10px;
}
.titulo-stramers span{
    color: #88d613;
}


.live{
    margin-top: 450px;
    display: grid;
    grid-template-areas:'stramers stramers stramers';
    gap: 10px;
    padding: 2px;
    justify-self: center;
    align-items: center;
}
#stramers{
    grid-area: stramers;
    display: flex;
    gap: 1rem;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}
.live-container{
    position: relative;
    display: flex;
}
.live-container a{
    text-decoration: none;
}
.live-capa{
    display: flex;
    flex-direction: column;
    position: relative;
}
.live-capa img{
    min-width: 315px;
    min-height: 190px;
    max-width: 315px;
    max-height: 190px;
    width: 100%;
    height: 100%;
}
.live-container::after{
    content: " ";
    background: #88d613;
    position: absolute;
    width: 315px;
    height: 190px;
    z-index: -1;
}
.live-capa:hover{
    margin-left: 7px;
    margin-top: -5px;
    transition: .5s;
}
.live-capa span{
    position: absolute;
    color: white;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    background: red;
    padding: .2rem;
    font-size: 14px;
    margin-top: 10px;
    border-radius: 5px;
}
.live-capa p{
    position: absolute;
    color: white;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    margin-left: 10px;
    background: black;
    margin-top: 160px;
    padding: 3px;
}
.live-details{
    display: flex;
    margin-top: 5px;
    align-items: center;
    gap: 1rem;
    text-transform: capitalize;
}
.live-details-desc{
    display: flex;
    flex-direction: column;
}
.live-details img{
    width: 42px;
    height: 45px;
    border-radius: 50% 50%;
    margin-top: -40px;
}
.live-details h1{
    font-size: 16px;
    color: var(--link-color);
    max-width: 250px;
    overflow: hidden;
    white-space: nowrap;
}
.live-details p{
    font-size: 13px;
    color: gray;
    margin-top: 4px;
}
.live-details span{
    color: gray;
    font-size: 14px;
}
.live-details button{
    color: gray;
    background: var(--back-bg);
    padding: .2rem;
    margin-top: 10px;
    border-radius: 5px;
}
.live-details button:hover{
    color: white;
    background:gray;
}
.live-details span:hover{
    color: #88d613;
}
.live-details h1:hover{
    color: #88d613;
}
.categoria{
    display: flex;
    gap: 1rem;
}
#ver-mais{
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: auto;
    position: relative;
    margin-top: 40px;
    background: transparent;
    gap: .5rem;
    color: #88d613;
}
#ver-mais::after{
    content: " ";
    position: absolute;
    background: gray;
    width:300%;
    height: 1px;
    left: 100px;
}
#ver-mais::before{
    content: " ";
    position: absolute;
    background: gray;
    width:300%;
    height: 1px;
    right: 110px;
}
.live-container-mais{
    display: none;
}
.live-container-mais2{
    display: none;
}
.live-container-mais3{
    display: none;
}
.live-container-mais4{
    display: none;
}
@media(min-width:530px) and (max-width: 680px){
    .live-capa img{
        min-width: 500px;
        min-height: 250px;
        max-width:500px;
        max-height:250px;
        width: 100%;
        height: 100%;
    }
    .live-container::after{
        content: " ";
        background: #88d613;
        position: absolute;
        min-width: 500px;
        min-height: 250px;
        max-width:500px;
        max-height:250px;
        z-index: -1;
    }
    .live-capa p{
        position: absolute;
        color: white;
        display: flex;
        flex-direction: column;
        font-size: 13px;
        margin-left: 10px;
        background: black;
        margin-top: 200px;
    }
}



@media(min-width:200px) and (max-width:530px){
   .live-container{
    margin-top: 40px;
   }
}

@media(max-width:700px){
    .carrossel{
        display: none;
    }
    .conteudo{
        position: relative;
        margin: 0 auto;
        overflow: hidden;
        width: 900px;
        height: 50vh;
        margin-top: 100px;
        max-width: 800px;
        width: 96%;
        display:block;
    }
    .titulo-stramers{
        margin-top: -00px;
    }
    .live{
        margin-top: 50px;
    }
}

.titulo-stramers2{
    margin-top: 50px;
}
.live2{
    margin-top: 100px;
}

.categoria-card{
    margin-top: 100px;
    display: grid;
    grid-template-areas:'categ-flex categ-flex categ-flex';
    gap: 10px;
    padding: 2px;
    align-items: center;
    justify-content: center;
    width: 100%;
}
#categ-flex{
    grid-area: 'categ-flex';
    display: flex;
    padding: 10px;
    gap: 1REM;
    flex-wrap: wrap;

    justify-content: center;
}
.card{
    align-items: center;
    display: flex;
    gap: 1rem;
    position: relative;
}
.card::after{
    content: " ";
    background: blue;
    position: absolute;
    min-width: 200px;
    min-height:250px;
    max-width:200px;
    max-height:250px;
    z-index: -1;
    margin-top: -88px;
    border-radius: 8px;
}
.card img{
    width: 200px;
    height: 250px;
    border-radius: 8px;
}
.card img:hover{
    margin-left: 7px;
    margin-top: -5px;
    transition: .5s;
}
.card  a{
    text-decoration: none;
}
.card h1{
    color: var(--link-color);
    font-size: 16px;
}
.card span{
    color: gray;
    font-size: 14px;
}
.categoria2{
    display: flex;
    gap: 1rem;
}
.categoria2 button{
    padding: .2rem;
    background:gainsboro;
    border-radius: 20px;
    margin-top: 5px;
}
.live3{
    display:none;
    margin-top: 0px;
}
.login{
    align-items: center;
    position: fixed;
    background: black;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    display: none;
}
.login-container{
    flex-direction: column;
    align-items: center;
    display: flex;
    max-width: 500px;
    padding: 1rem;
    margin: 80px auto;
    gap: 1.7rem;
    border-radius: 20px;
    text-align: left;
    margin-top:70px;
    height: 100%;
}
.login-titulo{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.login-titulo h1{
    align-items: center;
    color: white;
    text-transform: capitalize;
    font-size: 24px;
}
.login-titulo span{
    color: #88d613;
    font-size: 50px;
}
.login-input{
    align-items: center;
    text-align: left;
    width: 100%;
}
.login-input p{
    color: white;
}
#email{
    width: 100%;
    height: 30px;
    border-radius: 5px;
    background: black;
    border: 3px solid gray;
    color: white;
    text-indent: 5px;
}
#email:hover{
    border: 3px solid #88d613;
}
#senha{
    width: 100%;
    height: 30px;
    border-radius: 5px;
    background: black;
    border: 3px solid gray;
    color: white;
    text-indent: 5px;
}
#senha:hover{
    border: 3px solid #88d613;
}
.login-input button{
    background: transparent;
    color: #88d613;
    margin-top: 10px;
}
#enter{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    background: #88d613;
    color:black;
    text-indent: 5px;
    cursor:no-drop;
}
.cadastrar{
    color: #88d613;
    text-decoration: none;
    font-size: 14px;
}
#FecharLogin{
    background: transparent;
    color: white;
    font-size: 20px;
    right: 0;
    margin: auto;
    margin-left: 100px;
}
#twolupa{
    display: none;
}
@media(max-width:700px){
    .center .search-input{
        border: 1px solid black;
        height: 40px;
        width: 100%;
        text-indent: 20px;
        display: none;
    }
    #onelupa{
        display: none;
    }
    #twolupa{
        display: block;
    }
    .center-2{
        justify-content: center;
        display: none;
        align-items: center;
        position: fixed;
        margin: 0 auto;
        z-index: 1000;
        background-color: var(--body-header);
        width: 100%;
        height: 60px;
        padding: 20px;
        top: 0;
    }
    #fecharSearch{
        margin-left: 10px;
        background: transparent;
    }
    .input-mobile{
        width: 100%;
        display: flex;
    }
     .search-input2{
        border: 1px solid gray;
        height: 40px;
        width: 100%;
        text-indent: 20px;
        background: transparent;
        color: var(--link-color);
    }
    .center-2 button{
        height: 40px;
        width: 40px;
        color: var(--link-color);
        font-size: 20px;
        background:#B5B4B5;
    }
    .center button{
        background: transparent;
        font-size: 16px;
    }
    .left h1{
        display: none;
    }
    .right .btn-entrar{
        background: gainsboro;
        color: black;
        width:50px;
        height: 30px;
        font-size: 12px;
        border-radius: 5px;
    }
    .right .btn-cadastra{
        background:#88d613;
        color: black;
        width: 70px;
        height: 30px;
        font-size: 12px;
        border-radius: 5px;
    }
    
}

